<!DOCTYPE html>

{% block title %}Customer Relations Manager{% endblock %}
{% load static %}
{% load i18n %}

{% block JavaScriptHead %}

    <script type="text/javascript" language="javascript" src="{% static "/scripts/jquery-3.3.1.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/jquery-ui-user-admin-custom.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap-grid_4.min.css" %}" />
    <script src="/static/bootstrap/js/bootstrap.min.js" ></script>
    <link rel="stylesheet" href="{% static "css/bootstrap_4.min.css" %}" />

{% endblock %}

{% block CONTENT %}


{% endblock %}

</html>